* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

/* psudo classes */
.pad-15 {
  padding: 10% 8% !important;
}

.border-raid-b-r {
  border-bottom-right-radius: 2rem;
}

.hover-text-primary:hover {
  color: var(--bs-primary);
}

.fs-20 {
  font-size: 2.9rem;
}

.minw-288 {
  min-width: 288px;
}

/* sign in */

.sign-in-inputs {
  height: 2.6rem;
  width: min(100%, 300px);
  padding-left: 2rem !important;
}

form div {
  position: relative;
  width: min(100%, 300px);
}

.sign-in-svg1{
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
}
.sign-in-svg2{
  position: absolute;
  top: 0.88rem;
  left: 0.45rem;
}
.sign-in-svg3{
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
}

.social-container {
  aspect-ratio: 1 / 1;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(41, 41, 41, 0.293);
}

.social-container:hover {
  border-color: rgba(0, 0, 0, 0.662);
}